.hotNews {
  width: 250px;
  height: 610px;
  background: #fff;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  margin-top: 20px;
  //   padding: 18px 8px 18px 18px;
  .child-hotNews {
    padding: 18px 8px 18px 18px;
    .news {
      border-bottom: 1px solid #eee;
      margin-bottom: 12px;
      padding-bottom: 12px;
      p {
        color: #333;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 700;
      }
      p:hover {
        color: #0098d1;
      }
    }
  }
}
