.header {
  .header-top {
    background: #ffffff;
    height: 75px;
    align-items: center;
    .item {
      padding: 0px 20px;
      color: #0098d1;
    }
    .site-header {
      margin-left: auto;
      margin-right: auto;
      img {
        width: 180px;
        height: 52px;
      }
    }
  }
  .header-bottom {
    background-color: #0098d1;
    height: 35px;
    align-items: center;
    justify-content: center;
    a {
      padding: 0px 8px;
      color: #fff;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      font-family: NotoSerif;
    }
  }
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
